<div class="footer ">
    <div class="col-xl-3 col-6">
        <p class=" mb-4 text-center">Nous contacter</p>
        <div class="icon">
            <i class=" me-3 fa-solid fa-house"></i>
            <p class="m-0">18 rue Léon Frot, 75011 Paris</p>
        </div>
        <div class="icon">
            <i class="me-3 fa-solid fa-phone-volume"></i>
            <p class="m-0">Tél : 01 00 00 00 00s</p>
        </div>
        <div class="icon">
            <i class="me-3 fa-solid fa-house"></i>
            <p class="m-0">Nous contacter par mail</p>
        </div>
    </div>
    <div class="col-center">
    </div>
    <div class="col-xl-3 col-6">
        <p class=" mb-4 text-center">Thé Tip Top</p>
        <div class="div-content">
            <p class="m-0">Accueil</p>
        </div>
        <div  class="div-content">
            <p class="m-0">Qui sommes-nous?</p>
        </div>
        <div  class="div-content">
            <p class="m-0">Nos gains</p>
        </div>
        <div  class="div-content">
            <p class="m-0">Gros lot</p>
        </div>
    </div>
    <div class="col-center">
    </div>
    <div class="col-xl-3 col-6">
        <p class=" mb-4 text-center">Mon compte</p>
        <div>
            <button class="button btn mx-auto"><p class="m-0" data-bs-toggle="modal" data-bs-target="#login">Connexion</p></button>
        </div>
        <div>
            <button class=" button btn mx-auto" data-bs-toggle="modal" data-bs-target="#modalSignup"><p class="m-0">Inscription</p></button>
        </div>
        <div>
            <button class=" button btn  mx-auto"><i class="fa-solid fa-phone me-3"></i><p class="m-0">Appeler</p></button>
        </div>
        
    </div> 

</div>