.profil-container{

    padding-top: 60px;
    margin-top: 60px;
}

.btn-light{
    width: 120px;
    border: 2px solid;
}

.profil-border{
    border: 1px solid;
    border-radius: 10px;
}

.btn-information {
    padding-left: 265px;
}
// .form-control{
//     display: none;
// }

// .edit-button {
//     width: 200px;
//     height: 20px;
//     font-size: 7px;
//     background-color: orange;
//     border-radius: 20px;
//     color: white;
//     display: none;
// }

// .fa-check{
//     padding-left: 60px;
//     color : white
// }

// .profil-input-style {
//     border: 1px solid orange;
// }
