{% extends "email/base-email.html.twig" %}

{% block email_content %}

	<div style="color:#555555;font-family:Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;line-height:1.5;padding-top:10px;padding-right:40px;padding-bottom:10px;padding-left:40px;">
		<div class="txtTinyMce-wrapper" style="line-height: 1.5; font-size: 12px; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; color: #555555; mso-line-height-alt: 18px;">
			<p style=" text-align: center; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 23px; margin: 0;">
				<span style="color: #066163; font-weight: 600;font-size: 25px;line-height: 37px;">
					Bonjour
					<b>{{ firstname }}</b>
				</span>
				<br><br>
				<span style="color: #474242; font-size: 15px;">
					Nous vous remercions de l’intérêt que vous nous portez.
					<br><br>
					<span>
						Afin de finir la création de votre compte sur Thé Tip Top veuillez confirmer votre e-mail :
						<br>
					</span>
				</span>
				<br><br>
				<span>
					<a href="{{ url('confirm_email', {'token': token}) }}" style="text-align: center;background: #CDBE78;box-shadow: 4px 4px 24px rgb(0 0 0 / 10%);border-radius: 31px;padding: 8px 33px;font-weight: 600;text-decoration: none;font-size: 14px;color: #FFFFFF;" class="btn">Confirmer mon email</a>
				</span>
			</p>
		</p>
	</div>
</div>{% endblock %}

